---
import Default from '../layouts/Default.astro';
---

<Default>
	<h1>¯\_(ツ)_/¯</h1>
	<img
		src="/not-found.gif"
		alt="a snippet from the movie star wars a new hope where Obi-Wan Kenobi says 'this is not the color you are looking for'"
	/>
	<a href="/">Go back home</a>
</Default>
