.color-card {
	margin: 0;
	text-align: center;
	width: 100%;
	position: relative;
	border: 1px solid hsl(0, 0%, 80%);
	overflow: hidden;
}

.color-item {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}

.copy-button {
	position: absolute;
	padding: 5px;
	top: 5px;
	right: 5px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.favorite-button {
	position: absolute;
	padding: 5px;
	top: 5px;
	left: 5px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.figcaption {
	padding: 5px;
	background-color: hsla(0, 0%, 100%, 0.8);
	color: hsl(0, 0%, 20%);
}

.color-list {
	display: grid;
	gap: 20px;
}

.color-items-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 10px;
}

.filter-input {
	padding: 10px;
	box-sizing: border-box;
}

.copied-notification {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: hsla(0, 0%, 0%, 0.7);
	color: hsl(0, 0%, 100%);
	padding: 10px 20px;
	border-radius: 5px;
	z-index: 1000;
}
