*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 120%;
}
:root {

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;

}


#root {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;

}

.App {
  padding: 20px;
  width: 100%;
}

.App h1 {
  font-size: 2em;
}

body {
	/* or other fonts https://modernfontstacks.com/ */
	font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
		source-sans-pro, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: hsl(0, 0%, 10%);
}

pre {
	font-weight: normal;
	line-height: 1.5;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	font-size: 0.89rem;
}

/** 1.250 — Major third */

h1 {
	font-size: 1.953rem;
}
h2 {
	font-size: 1.563rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.8rem;
}
h6 {
	font-size: 0.64rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	padding: 1.33em 0 1em 0;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
