---
import "../css/index.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0,  maximum-scale=1"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Named CSS Colors Search</title>
		<meta name="description" content="Search for named CSS colors" />
		<meta name="author" content="ff6347" />
		<meta name="keywords" content="css, colors, search, named, list" />
	</head>
	<body>
		<slot />
	</body>
</html>
